.button
    background-color: $color-blue
    color: $color-white
    box-sizing: border-box
    border: none
    min-height: 50px
    border-radius: 900px
    padding: 0 40px
    width: 316px
    font-size: 17px
    margin-bottom: 12px
    font-weight: 900

.button.main
    display: block
    position: fixed
    left: 50%
    transform: translate(-50%, 0)
    bottom: 3vh
    margin-top: 12px


.button.second
    width: 260px
    color: $color-white
    height: 20px


.yellow
    background-color: $color-yellow

@media screen and (max-width: 320px)
    .button
        width: 272px
    .button.second
        width: 250px

.button-toggler
  min-height: 32px
  background-color: transparent
  border-radius: 300px
  border: solid 1px $color-blue
  padding: 0 12px
  margin-left: $space-small
  width: auto

.button-toggler.active 
    background-color: #F8F4F4
    border: none
    color: $color-blue
    font-weight: 600
