.button
    background-color: $color-blue
    color: $color-white
    box-sizing: border-box
    border: none
    min-height: 50px
    border-radius: 900px
    padding: 0 40px
    width: 316px
    font-size: 17px
    margin-bottom: 12px
    font-weight: 900

.button.main
    display: block
    position: fixed
    bottom: 30px
    margin-top: 12px


.button.second
    width: 260px
    color: $color-white
    height: 20px


.yellow
    background-color: $color-yellow

@media screen and (max-width: 320px)
    .button
        width: 272px
    .button.second
        width: 250px

