.popup 
    position: fixed
    margin: 10px
    top: 0
    left: 0
    right: 0
    background: #00000050
    color: $color-text-primary

.form
    position: relative
    width: 250px
    margin: 0 auto
    height: auto
    max-height: 70vh
    // margin-top: calc(100vh -10vh - 20px)
    background: $color-white
    border-radius: 10px
    padding: 20px
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px
    overflow: auto
    margin-top: 3.75rem
    margin-bottom: 3.75rem
    z-index: 1000

.input 
    display: block
    appearance: none
    padding: .5rem 3.375rem
    margin: 0 auto
    font-size: 13px
    line-height: 1.5
    background-color: $color-grey
    border: 2px solid transparent
    border-radius: 50em
    outline: 0
    box-shadow: none
    transition: background-color .2s
    margin-bottom: 30px
    height: 30px

.input.edit
    border: 2px solid $color-blue
    background-color: $color-white

.close-icon 
    content: 'x'
    color: $color-blue
    cursor: pointer
    position: fixed
    right: calc(15% - 8px)
    top: calc(100vh - 85vh - 50px)
    background: $color-grey
    width: 25px
    height: 25px
    border-radius: 50%
    line-height: 20px
    text-align: center
    border: 1px solid $color-grey
    font-size: 20px

.form-label
    color: $color-blue
    font-size: 14px
    font-weight: bold

    
