.complete
  background: #f0f0f0
  text-decoration: line-through
.shopping-item
  box-sizing: border-box
  border: solid 2px #f8f9fa
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px
// .shopping-item:last-child
//   border: none

.price
  font-weight: bold
  margin-right: 10px
  text-align: right

.quantity
  color: $color-text-secondary
  font-size: 12px

.name
  max-width: 120px
  overflow-x: scroll
  white-space: nowrap  

table 
  border-collapse: collapse
  width: 100%

td, th 
  text-align: left
  padding: 8px
  height: 45px



