.sort-toggler
  min-height: 35px
  background-color: transparent
  border-radius: 500px
  border: solid 2px $color-blue
  padding: 0 20px
  margin-left: 10px
  font-weight: bold

.sort-controls img
    width: 20px
    height: 20px
    vertical-align: middle

.sort-toggler.active 
  background-color: $color-yellow
  color: $color-blue
  
